In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("chats.csv")
df

           Username                          Congratulations
0           Стол 10     погнали газуй брат невероятно вперед
1           Стол 10  Креативный добрый странный великолепный
2  Семья Родинковых                        Великий И ужасный
3             Семья                                 Красивый
4         ооооооооо    длфывоад фыдвлоа доывад ловыфо дщй од

In [15]:
df = df.groupby('Username')['Congratulations'].agg(lambda x: ' '.join(x)).reset_index()
# agg_data.rename(columns={'Congratulations': 'Summarized_Congratulations'}, inplace=True)

# Merge the aggregated data back to the original DataFrame
df

           Username                                    Congratulations
0             Семья                                           Красивый
1  Семья Родинковых                                  Великий И ужасный
2           Стол 10  погнали газуй брат невероятно вперед Креативны...
3         ооооооооо              длфывоад фыдвлоа доывад ловыфо дщй од